@keyframes blinkCursor {
    from {
        border-right-color: #FFF;
    } to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 55.1rem;
    }
}

.welcome-area--perfil {
    display: flex;
    height: calc(100vh - 5.5rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.welcome-area--avatar {
    width: 15rem;
    height: 15rem;
    background-color: #FFF;
    border-radius: 50%;
}
  
.welcome-area--avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.welcome-area--perfil h2 {
    font-size: 4rem;
    color: #FFF;
    margin-top: 2rem;
    border-right: 2px solid #FFF;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 1s steps(50) infinite normal, typing 4s steps(50) 1s normal;
}
  
.welcome-div {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(to right, #2D2244, #4B2944, #3C2333);
    padding: 1rem;
    border: 1px solid #FFF;
    margin-top: 2rem;
}