header {
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}

.logo {
    font-size: 1.8rem;
}

.logo span {
    color: #fcf258;
}

li:hover {
    color: #bcbcbc;
    cursor: pointer;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.social-icon {
    background-color: #FFF;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}