footer {
    background-color: #000;
    color: #FFF;
    padding: 1.5rem 0;
}

.footer-content {
    width: 100%;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
}

.logo span {
    color: #fcf258;
}

.logo, .logo span {
    font-weight: 700;
}

.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.social-icon {
    background-color: #FFF;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author {
    font-size: 1.2rem;
    text-align: right;
    margin-top: 0.5rem;
}

@media(max-width: 425px) {
    .footer-contact {
        flex-direction: column;
    }

    .footer-contact .author {
        margin-bottom: 1rem;
    }
}